### Cleaning

### List Of Data Sources

#### Fred Economic Data (https://fred.stlouisfed.org):

Personal Savings (Billion Of Dollars)-Quarterly 
Gross Domestic Product (Billion Of Dollars)-Quarterly
Unemployment Rate (%)-monthly data for every year since 1948
Federal Funds (%)-monthly data for every year since 1954

#### Bureau of Labor Statistics (https://www.bls.gov/cpi/):

Inflation Data (%)-annual yearly average
Consumer Price Index (%)-annual yearly average

#### Bureau of Economic Analysis (https://apps.bea.gov):

Gross Savings (Billion of dollars)-Quarterly
Gross saving as a percentage of gross national income (%)-Quarterly
Gross domestic investment (Billion of dollars)-Quarterly
Net saving as a percentage of gross national income (%)-Quarterly
Personal Consumption Expenditures (Billion Of dollar)-Quarterly

#### Loading Table For Consumer Price Index

In [ ]:
import pandas as pd

# Load the data into a pandas DataFrame
file_path = 'consumer_price_index.xls'
cpi_data = pd.read_excel(file_path)
cpi_data.head()

,Year,Jan,Feb,Mar,Apr,May,June,July,Aug,Sep,Oct,Nov,Dec,Avg
0,1947,21.5,21.5,21.9,21.9,21.9,22.0,22.2,22.5,23.0,23.0,23.1,23.4,22.3
1,1948,23.7,23.5,23.4,23.8,23.9,24.1,24.4,24.5,24.5,24.4,24.2,24.1,24.1
2,1949,24.0,23.8,23.8,23.9,23.8,23.9,23.7,23.8,23.9,23.7,23.8,23.6,23.8
3,1950,23.5,23.5,23.6,23.6,23.7,23.8,24.1,24.3,24.4,24.6,24.7,25.0,24.1
4,1951,25.4,25.7,25.8,25.8,25.9,25.9,25.9,25.9,26.1,26.2,26.4,26.5,26.0

In [ ]:
# Rewrite the function to use integer year for the 'Quarter' field
def calculate_quarterly_averages(row):
   
    quarters = {
        'Q1': ['Jan', 'Feb', 'Mar'],
        'Q2': ['Apr', 'May', 'June'],
        'Q3': ['July', 'Aug', 'Sep'],
        'Q4': ['Oct', 'Nov', 'Dec']
    }
    
    # Create a list to hold the quarterly data
    quarterly_data = []
    
    # Calculate the average for each quarter and add it to the list
    for quarter, months in quarters.items():
        quarter_avg = row[months].mean()
        quarterly_data.append({
            'Quarter': f"{int(row['Year'])} {quarter}",
            'Consumer Price Index': quarter_avg
        })
    
    return quarterly_data

quarterly_cpi_list = cpi_data.apply(calculate_quarterly_averages, axis=1).tolist()

quarterly_cpi_flat_list = [item for sublist in quarterly_cpi_list for item in sublist]

quarterly_cpi_df_corrected = pd.DataFrame(quarterly_cpi_flat_list)

quarterly_cpi_df_corrected.head(16)

    Quarter  Consumer Price Index
0   1947 Q1             21.633333
1   1947 Q2             21.933333
2   1947 Q3             22.566667
3   1947 Q4             23.166667
4   1948 Q1             23.533333
5   1948 Q2             23.933333
6   1948 Q3             24.466667
7   1948 Q4             24.233333
8   1949 Q1             23.866667
9   1949 Q2             23.866667
10  1949 Q3             23.800000
11  1949 Q4             23.700000
12  1950 Q1             23.533333
13  1950 Q2             23.700000
14  1950 Q3             24.266667
15  1950 Q4             24.766667

In [ ]:
quarterly_cpi_df_corrected.tail(16)

     Quarter  Consumer Price Index
292  2020 Q1            258.254667
293  2020 Q2            256.860000
294  2020 Q3            259.766333
295  2020 Q4            260.363667
296  2021 Q1            263.157667
297  2021 Q2            269.315000
298  2021 Q3            273.626667
299  2021 Q4            277.779667
300  2022 Q1            284.122667
301  2022 Q2            292.572000
302  2022 Q3            296.418333
303  2022 Q4            297.506667
304  2023 Q1            300.615333
305  2023 Q2            304.199667
306  2023 Q3            306.835333
307  2023 Q4                   NaN

#### Loading Unemployment Rate Data

In [ ]:
# Load the unemployment rate data into a pandas DataFrame
unemployment_file_path = 'UNRATE.xls'
unemployment_data = pd.read_excel(unemployment_file_path)

unemployment_data.head()

  observation_date  UNRATE
0       1948-01-01     3.4
1       1948-02-01     3.8
2       1948-03-01     4.0
3       1948-04-01     3.9
4       1948-05-01     3.5

In [ ]:
# Resample the data by quarters and calculate the mean for each quarter
unemployment_data['Quarter'] = unemployment_data['observation_date'].dt.to_period('Q')
quarterly_unemployment = unemployment_data.groupby('Quarter').mean()
quarterly_unemployment.reset_index(inplace=True)
quarterly_unemployment['Quarter'] = quarterly_unemployment['Quarter'].astype(str).apply(lambda x: x.replace('-', ' Q'))
quarterly_unemployment['Quarter'] = quarterly_unemployment['Quarter'].str.replace('Q', ' Q')

quarterly_unemployment.head(16)

    Quarter    UNRATE
0   1948 Q1  3.733333
1   1948 Q2  3.666667
2   1948 Q3  3.766667
3   1948 Q4  3.833333
4   1949 Q1  4.666667
5   1949 Q2  5.866667
6   1949 Q3  6.700000
7   1949 Q4  6.966667
8   1950 Q1  6.400000
9   1950 Q2  5.566667
10  1950 Q3  4.633333
11  1950 Q4  4.233333
12  1951 Q1  3.500000
13  1951 Q2  3.100000
14  1951 Q3  3.166667
15  1951 Q4  3.366667

#### Loading Personal Savings Data

In [ ]:
# Load the data into a pandas DataFrame
file_path = 'Personal_Savings_Rate.xls'
personal_savings_data = pd.read_excel(file_path)
personal_savings_data.head()

   Quarter  Personal Savings
0  1947 Q1             12.595
1  1947 Q2              8.476
2  1947 Q3             12.635
3  1947 Q4             10.372
4  1948 Q1             12.763

In [ ]:
personal_savings_data.tail(16)

     Quarter  Personal Savings
291  2019 Q4           1138.140
292  2020 Q1           1504.369
293  2020 Q2           4423.657
294  2020 Q3           2654.386
295  2020 Q4           2131.883
296  2021 Q1           3889.697
297  2021 Q2           1888.618
298  2021 Q3           1552.125
299  2021 Q4           1151.639
300  2022 Q1            703.749
301  2022 Q2            552.414
302  2022 Q3            612.615
303  2022 Q4            622.428
304  2023 Q1            948.202
305  2023 Q2           1040.110
306  2023 Q3            776.887

#### Loading Inflation Data

In [ ]:
# Load the inflation rate data into a pandas DataFrame
inflation_file_path = 'Inflation.xls'
inflation_data = pd.read_excel(inflation_file_path)

inflation_data.head()

,Year,January,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Average
0,1947,18.1,18.8,19.7,19.0,18.4,17.6,12.1,11.4,12.7,10.6,8.5,8.8,14.4
1,1948,10.2,9.3,6.8,8.7,9.1,9.5,9.9,8.9,6.5,6.1,4.8,3.0,8.1
2,1949,1.3,1.3,1.7,0.4,-0.4,-0.8,-2.9,-2.9,-2.4,-2.9,-1.7,-2.1,-1.2
3,1950,-2.1,-1.3,-0.8,-1.3,-0.4,-0.4,1.7,2.1,2.1,3.8,3.8,5.9,1.3
4,1951,8.1,9.4,9.3,9.3,9.3,8.8,7.5,6.6,7.0,6.5,6.9,6.0,7.9

In [ ]:
# Function to calculate the quarterly averages for inflation
def calculate_quarterly_inflation(row):
    quarters = {
        'Q1': ['January', 'Feb', 'Mar'],
        'Q2': ['Apr', 'May', 'Jun'],
        'Q3': ['Jul', 'Aug', 'Sep'],
        'Q4': ['Oct', 'Nov', 'Dec']
    }
    
    # Create a list to hold the quarterly data
    quarterly_inflation_data = []
    
    # Calculate the average for each quarter and add it to the list
    for quarter, months in quarters.items():
        quarter_avg = row[months].mean()
        quarterly_inflation_data.append({
            'Quarter': f"{int(row['Year'])} {quarter}",
            'Inflation Rate': quarter_avg
        })
    
    return quarterly_inflation_data

quarterly_inflation_list = inflation_data.apply(calculate_quarterly_inflation, axis=1).tolist()
quarterly_inflation_flat_list = [item for sublist in quarterly_inflation_list for item in sublist]

quarterly_inflation_df = pd.DataFrame(quarterly_inflation_flat_list)

quarterly_inflation_df.head(16)

    Quarter  Inflation Rate
0   1947 Q1       18.866667
1   1947 Q2       18.333333
2   1947 Q3       12.066667
3   1947 Q4        9.300000
4   1948 Q1        8.766667
5   1948 Q2        9.100000
6   1948 Q3        8.433333
7   1948 Q4        4.633333
8   1949 Q1        1.433333
9   1949 Q2       -0.266667
10  1949 Q3       -2.733333
11  1949 Q4       -2.233333
12  1950 Q1       -1.400000
13  1950 Q2       -0.700000
14  1950 Q3        1.966667
15  1950 Q4        4.500000

#### Loading Gross Domestic Product

In [ ]:
# Load the data into a pandas DataFrame
file_path = 'Gross_Domestic_Product.xls'
gdp_data = pd.read_excel(file_path)
gdp_data.head()

   Quarter  Gross Domestic Product
0  1947 Q1                 243.164
1  1947 Q2                 245.968
2  1947 Q3                 249.585
3  1947 Q4                 259.745
4  1948 Q1                 265.742

In [ ]:
gdp_data.tail()

     Quarter  Gross Domestic Product
301  2022 Q2               25544.273
302  2022 Q3               25994.639
303  2022 Q4               26408.405
304  2023 Q1               26813.601
305  2023 Q2               27063.012

#### Loading Personal Consumption expenditure

In [ ]:
file_path = 'personal_consumption_expenditure.xls'
pce_data = pd.read_excel(file_path)
pce_data.head()

   Quarter  Personal Consumption Expenditures
0  1947 Q1                              156.2
1  1947 Q2                              160.0
2  1947 Q3                              163.5
3  1947 Q4                              167.7
4  1948 Q1                              170.4

In [ ]:
pce_data.tail()

     Quarter  Personal Consumption Expenditures
302  2022 Q3                            17684.2
303  2022 Q4                            17917.0
304  2023 Q1                            18269.6
305  2023 Q2                            18419.0
306  2023 Q3                            18734.3

#### Loading Global Savings And Investment

In [ ]:
# Modify the code to adjust the 'Quarter' column formatting during the loading process and explicitly use regex

# Load the Gross Savings and Investment data into a pandas DataFrame with the correct 'Quarter' format
gross_savings_file_path = 'Gross_Savings_And_Investment.xls'
gross_savings_data = pd.read_excel(gross_savings_file_path)
gross_savings_data['Quarter'] = gross_savings_data['Quarter'].astype(str)
gross_savings_data['Quarter'] = gross_savings_data['Quarter'].apply(lambda x: x[:4] + ' Q' + x[-1])

gross_savings_data.head()

,Quarter,Gross Savings,Gross saving as a percentage of gross national income,Gross domestic investment,Net saving as a percentage of gross national income
0,1947 Q1,47.1,19.6,40.8,7.9
1,1947 Q2,46.7,19.1,39.6,7.4
2,1947 Q3,49.1,19.7,41.0,7.9
3,1947 Q4,54,21,49.8,9.3
4,1948 Q1,59,22.1,54.7,10.6

#### Loading Federal Fund Rate Data

In [ ]:
# Load the Federal Funds Rate data into a pandas DataFrame
fed_funds_file_path = 'FEDFUNDS.xls'
fed_funds_data = pd.read_excel(fed_funds_file_path)
fed_funds_data.head()

  observation_date  FEDFUNDS
0       1954-07-01      0.80
1       1954-08-01      1.22
2       1954-09-01      1.07
3       1954-10-01      0.85
4       1954-11-01      0.83

In [ ]:
# Resample the data by quarters and calculate the mean for each quarter
fed_funds_data['Quarter'] = fed_funds_data['observation_date'].dt.to_period('Q')
quarterly_fed_funds = fed_funds_data.groupby('Quarter').mean()

quarterly_fed_funds.reset_index(inplace=True)
quarterly_fed_funds['Quarter'] = quarterly_fed_funds['Quarter'].astype(str).str.replace('Q', ' Q')

quarterly_fed_funds.head()

   Quarter  FEDFUNDS
0  1954 Q3  1.030000
1  1954 Q4  0.986667
2  1955 Q1  1.343333
3  1955 Q2  1.500000
4  1955 Q3  1.940000

#### Merging all dataframes containing quarterly together

In [ ]:
# First, let's combine all the DataFrames into a list for easier processing
dfs_to_merge = [
    quarterly_cpi_df_corrected, 
    quarterly_unemployment,     
    personal_savings_data,     
    quarterly_inflation_df,     
    gdp_data,                  
    pce_data,                  
    gross_savings_data,         
    quarterly_fed_funds         
]

merged_df = dfs_to_merge[0]

for df in dfs_to_merge[1:]:
    merged_df = pd.merge(merged_df, df, on='Quarter', how='outer')

merged_df.sort_values(by='Quarter', inplace=True)

merged_df.reset_index(drop=True, inplace=True)

merged_df.head()

,Quarter,Consumer Price Index,UNRATE,Personal Savings,Inflation Rate,Gross Domestic Product,Personal Consumption Expenditures,Gross Savings,Gross saving as a percentage of gross national income,Gross domestic investment,Net saving as a percentage of gross national income,FEDFUNDS
0,1947 Q1,21.633333,NaN,12.595,18.866667,243.164,156.2,47.1,19.6,40.8,7.9,NaN
1,1947 Q2,21.933333,NaN,8.476,18.333333,245.968,160.0,46.7,19.1,39.6,7.4,NaN
2,1947 Q3,22.566667,NaN,12.635,12.066667,249.585,163.5,49.1,19.7,41.0,7.9,NaN
3,1947 Q4,23.166667,NaN,10.372,9.300000,259.745,167.7,54,21,49.8,9.3,NaN
4,1948 Q1,23.533333,3.733333,12.763,8.766667,265.742,170.4,59,22.1,54.7,10.6,NaN

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 12 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Quarter                                                    308 non-null    object
 1   Consumer Price Index                                       307 non-null    float64
 2   UNRATE                                                     303 non-null    float64
 3   Personal Savings                                           307 non-null    float64
 4   Inflation Rate                                             307 non-null    float64
 5   Gross Domestic Product                                     306 non-null    float64
 6   Personal Consumption Expenditures                          307 non-null    float64
 7   Gross Savings                                              307 non-null    object
 8       Gross saving as a percentage of gross national income  307 non-null    object
 9   Gross domestic investment                                  307 non-null    float64
 10      Net saving as a percentage of gross national income    307 non-null    object
 11  FEDFUNDS                                                   277 non-null    float64
dtypes: float64(8), object(4)
memory usage: 29.0+ KB

#### Max Min Value Of all DataSouces

In [ ]:
import pandas as pd

datasets_map = {
    "quarterly_cpi_df_corrected": quarterly_cpi_df_corrected,
    "quarterly_unemployment": quarterly_unemployment,
    "personal_savings_data": personal_savings_data,
    "quarterly_inflation_df": quarterly_inflation_df,
    "gdp_data": gdp_data,
    "pce_data": pce_data,
    "gross_savings_data": gross_savings_data,
    "quarterly_fed_funds": quarterly_fed_funds
}

def get_quarter_extremes(dataframes):
 
    quarter_extremes = {}
    
    for df_name, df in dataframes.items():
        if 'Quarter' in df.columns:
            quarters = df['Quarter'].unique()
            min_quarter = min(quarters, default="No Data")
            max_quarter = max(quarters, default="No Data")
            quarter_extremes[df_name] = (min_quarter, max_quarter)
        else:
            quarter_extremes[df_name] = ("Column Not Found", "Column Not Found")
            
    return quarter_extremes


result = get_quarter_extremes(datasets_map)

In [ ]:
result

### Validation checks

#### Consistency across date column

In [ ]:
import pandas as pd

def quarter_to_date(quarter_str):

    q_to_month = {'Q1': '03-31', 'Q2': '06-30', 'Q3': '09-30', 'Q4': '12-31'}
    year, qtr = quarter_str.split()
    return pd.to_datetime(f"{year}-{q_to_month[qtr]}")


merged_df['Quarter'] = merged_df['Quarter'].apply(quarter_to_date)
merged_df.head()

,Quarter,Consumer Price Index,UNRATE,Personal Savings,Inflation Rate,Gross Domestic Product,Personal Consumption Expenditures,Gross Savings,Gross saving as a percentage of gross national income,Gross domestic investment,Net saving as a percentage of gross national income,FEDFUNDS
0,1947-03-31,21.633333,NaN,12.595,18.866667,243.164,156.2,47.1,19.6,40.8,7.9,NaN
1,1947-06-30,21.933333,NaN,8.476,18.333333,245.968,160.0,46.7,19.1,39.6,7.4,NaN
2,1947-09-30,22.566667,NaN,12.635,12.066667,249.585,163.5,49.1,19.7,41.0,7.9,NaN
3,1947-12-31,23.166667,NaN,10.372,9.300000,259.745,167.7,54,21,49.8,9.3,NaN
4,1948-03-31,23.533333,3.733333,12.763,8.766667,265.742,170.4,59,22.1,54.7,10.6,NaN

In [ ]:
merged_df.head()

,Quarter,Consumer Price Index,UNRATE,Personal Savings,Inflation Rate,Gross Domestic Product,Personal Consumption Expenditures,Gross Savings,Gross saving as a percentage of gross national income,Gross domestic investment,Net saving as a percentage of gross national income,FEDFUNDS
0,1947-03-31,21.633333,NaN,12.595,18.866667,243.164,156.2,47.1,19.6,40.8,7.9,NaN
1,1947-06-30,21.933333,NaN,8.476,18.333333,245.968,160.0,46.7,19.1,39.6,7.4,NaN
2,1947-09-30,22.566667,NaN,12.635,12.066667,249.585,163.5,49.1,19.7,41.0,7.9,NaN
3,1947-12-31,23.166667,NaN,10.372,9.300000,259.745,167.7,54,21,49.8,9.3,NaN
4,1948-03-31,23.533333,3.733333,12.763,8.766667,265.742,170.4,59,22.1,54.7,10.6,NaN

In [ ]:
merged_df.to_csv('war_economic_data.csv')

#### Convert Object type column to Numerical column and stripping of extra space from column

In [ ]:
# Strip leading/trailing spaces and replace multiple spaces with a single space in column names
merged_df.columns = merged_df.columns.str.strip().str.replace('\s+', ' ', regex=True)

for col in merged_df.select_dtypes(include=['object']).columns:
    merged_df[col] = pd.to_numeric(merged_df[col], errors='coerce')

In [ ]:
merged_df.info()

#### Changing name of 'Quarter' column to 'Observational_Date'

In [ ]:
merged_df.rename(columns={'Quarter': 'Observational_Date'}, inplace=True)

merged_df.columns

In [ ]:
merged_df.head(10)

#### Fixing DataSource For CPI

In [ ]:
import pandas as pd

file_path = 'CPI.xls'
cpi_data = pd.read_excel(file_path)
cpi_data.head()

#### Melt the DataFrame to have a long format with 'Year', 'Month', 'CPI'

In [ ]:

months = cpi_data.columns[1:-1] 
cpi_long_format = cpi_data.melt(id_vars=['Year'], value_vars=months, var_name='Month', value_name='CPI')

cpi_cleaned = cpi_long_format.dropna(subset=['Year'])

cpi_cleaned.loc[:, 'Year'] = cpi_cleaned['Year'].astype(int).astype(str)

month_abbr = {
    'January': 'Jan', 'February': 'Feb', 'March': 'Mar', 'April': 'Apr',
    'May': 'May', 'June': 'Jun', 'July': 'Jul', 'August': 'Aug',
    'September': 'Sep', 'October': 'Oct', 'November': 'Nov', 'December': 'Dec'
}

cpi_cleaned.loc[:, 'Month'] = cpi_cleaned['Month'].replace(month_abbr)

cpi_cleaned.loc[:, 'Timestamp'] = pd.to_datetime(
    cpi_cleaned['Month'] + ' ' + cpi_cleaned['Year'], 
    format='%b %Y'
).dt.to_period('M').dt.to_timestamp('M')

cpi_cleaned = cpi_cleaned.drop(columns=['Year', 'Month'])

cpi_cleaned = cpi_cleaned.sort_values(by='Timestamp')

In [ ]:
cpi_cleaned.head()

In [ ]:
cpi_cleaned.info()

#### Fixing Data Source For GDP

In [ ]:
import pandas as pd

file_path = 'GDP_Final.xls'
gdp_data = pd.read_excel(file_path)
gdp_data.head(200)

#### Function to convert the year or year-quarter to the appropriate timestamp

In [ ]:
def convert_to_timestamp(date_item):
    date_str = str(date_item)  
    if 'Q' in date_str:  
        year, quarter = date_str.split(' ')
        year = int(year)
        quarter = int(quarter[1])
        # Map the quarter to the corresponding month
        month = {1: '01', 2: '04', 3: '07', 4: '10'}[quarter]
        return f"{year}-{month}-01"
    else:  # For annual data from 1929 to 1946
        year = int(date_str)
        return f"{year}-12-31"

gdp_data['Timestamp'] = gdp_data['Year'].apply(convert_to_timestamp)

gdp_data.drop('Year', axis=1, inplace=True)

gdp_data = gdp_data[['Timestamp', 'GDP']]

gdp_data.head()

In [ ]:
gdp_data.info()

#### Historical Outstanding Debt Data

In [ ]:
import pandas as pd
debt_file_path = 'HstDebt_17900101_20230930.csv'
debt_data = pd.read_csv(debt_file_path)
debt_data.head()

#### Loading Raw Unemployment Data

In [ ]:
import pandas as pd
# Load the unemployment rate data into a pandas DataFrame
unemployment_file_path = 'UNRATE.xls'
unemployment_data = pd.read_excel(unemployment_file_path)

unemployment_data.head()

#### Fixing DataSource For Inflation Data

In [ ]:
import pandas as pd

file_path = 'Inflation.xls'
inflation_data = pd.read_excel(file_path)
inflation_data.head()

In [ ]:
months = inflation_data.columns[1:-1] 
inflation_long_format = inflation_data.melt(id_vars=['Year'], value_vars=months, var_name='Month', value_name='Inflation')

inflation_cleaned = inflation_long_format.dropna(subset=['Year'])

inflation_cleaned.loc[:, 'Year'] = inflation_cleaned['Year'].astype(int).astype(str)

month_abbr = {
    'January': 'Jan', 'February': 'Feb', 'March': 'Mar', 'April': 'Apr',
    'May': 'May', 'June': 'Jun', 'July': 'Jul', 'August': 'Aug',
    'September': 'Sep', 'October': 'Oct', 'November': 'Nov', 'December': 'Dec'
}

inflation_cleaned.loc[:, 'Month'] = inflation_cleaned['Month'].replace(month_abbr)

inflation_cleaned.loc[:, 'Timestamp'] = pd.to_datetime(
    inflation_cleaned['Month'] + ' ' + inflation_cleaned['Year'], 
    format='%b %Y'
).dt.to_period('M').dt.to_timestamp('M')

inflation_cleaned = inflation_cleaned.drop(columns=['Year', 'Month'])

inflation_cleaned = inflation_cleaned.sort_values(by='Timestamp')

In [ ]:
inflation_cleaned.head()

<img src="image-20231110-141851.png" width="" align="" />

<img src="image-20231110-142337.png" width="" align="" />

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=a4f98d5b-30db-44df-bddd-688174a69d66' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>