In [1]:
import pandas as pd

In [2]:
economic_data=pd.read_csv('war_economic_data.csv')

In [3]:
economic_data.head(10)

,Unnamed: 0,Quarter,Consumer Price Index,UNRATE,Personal Savings,Inflation Rate,Gross Domestic Product,Personal Consumption Expenditures,Gross Savings,Gross saving as a percentage of gross national income,Gross domestic investment,Net saving as a percentage of gross national income,FEDFUNDS
0,0,1947-03-31,21.633333,NaN,12.595,18.866667,243.164,156.2,47.1,19.6,40.8,7.9,NaN
1,1,1947-06-30,21.933333,NaN,8.476,18.333333,245.968,160.0,46.7,19.1,39.6,7.4,NaN
2,2,1947-09-30,22.566667,NaN,12.635,12.066667,249.585,163.5,49.1,19.7,41.0,7.9,NaN
3,3,1947-12-31,23.166667,NaN,10.372,9.300000,259.745,167.7,54,21,49.8,9.3,NaN
4,4,1948-03-31,23.533333,3.733333,12.763,8.766667,265.742,170.4,59,22.1,54.7,10.6,NaN
5,5,1948-06-30,23.933333,3.666667,16.672,9.100000,272.567,174.1,62.7,22.8,58.6,11.5,NaN
6,6,1948-09-30,24.466667,3.766667,19.876,8.433333,279.196,177.1,62,22.1,61.3,10.8,NaN
7,7,1948-12-31,24.233333,3.833333,19.458,4.633333,280.366,177.9,62.4,22.1,60.7,10.8,NaN
8,8,1949-03-31,23.866667,4.666667,15.143,1.433333,275.034,176.8,54.7,19.9,53.4,8.2,NaN
9,9,1949-06-30,23.866667,5.866667,13.204,-0.266667,271.351,178.4,48.6,17.9,47.5,6,NaN

In [4]:
economic_data.tail(10)

,Unnamed: 0,Quarter,Consumer Price Index,UNRATE,Personal Savings,Inflation Rate,Gross Domestic Product,Personal Consumption Expenditures,Gross Savings,Gross saving as a percentage of gross national income,Gross domestic investment,Net saving as a percentage of gross national income,FEDFUNDS
298,298,2021-09-30,273.626667,5.133333,1552.125,5.366667,23828.973,16285.1,4137,17.2,5050.0,0.9,0.090000
299,299,2021-12-31,277.779667,4.200000,1151.639,6.666667,24654.603,16718.2,4465.8,18,5430.9,1.8,0.080000
300,300,2022-03-31,284.122667,3.800000,703.749,7.966667,25029.116,17030.6,4612.7,18.2,5615.0,1.9,0.120000
301,301,2022-06-30,292.572000,3.600000,552.414,8.666667,25544.273,17415.1,4738,18.3,5597.6,1.8,0.770000
302,302,2022-09-30,296.418333,3.566667,612.615,8.333333,25994.639,17684.2,4827.4,18.3,5607.0,1.7,2.190000
303,303,2022-12-31,297.506667,3.600000,622.428,7.100000,26408.405,17917.0,4621.4,17.5,5714.1,0.7,3.653333
304,304,2023-03-31,300.615333,3.500000,948.202,5.800000,26813.601,18269.6,4466.9,16.8,5667.6,-0.2,4.516667
305,305,2023-06-30,304.199667,3.566667,1040.110,3.966667,27063.012,18419.0,4497.8,16.8,5754.6,-0.2,4.990000
306,306,2023-09-30,306.835333,3.700000,776.887,3.533333,NaN,18734.3,---,---,5894.9,---,5.260000
307,307,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
economic_data.drop('Unnamed: 0',axis=1,inplace=True)

In [6]:
# Adding new columns for each war
economic_data['Korean War'] = False
economic_data['Vietnam War'] = False
economic_data['Persian Gulf War'] = False
economic_data['War in Afghanistan'] = False
economic_data['Iraq War'] = False
economic_data['Russia Ukraine War'] = False

# Defining the time ranges for each war
war_periods = {
    'Korean War': ('1950-06-25', '1953-07-27'),
    'Vietnam War': ('1965-03-08', '1975-04-30'),
    'Persian Gulf War': ('1990-08-02', '1991-02-28'),
    'War in Afghanistan': ('2001-10-07', '2021-08-30'),
    'Iraq War': ('2003-03-20', '2011-12-18'),
    'Russia Ukraine War': ('2022-02-24', '2023-12-31')  # End date is set to my last update
}

# Converting the 'Quarter' column to datetime for comparison
economic_data['Quarter'] = pd.to_datetime(economic_data['Quarter'])

# Marking 'True' or 'False' for each war based on the date
for war, (start_date, end_date) in war_periods.items():
    economic_data[war] =  economic_data['Quarter'].between(start_date, end_date)

economic_data.head()

,Quarter,Consumer Price Index,UNRATE,Personal Savings,Inflation Rate,Gross Domestic Product,Personal Consumption Expenditures,Gross Savings,Gross saving as a percentage of gross national income,Gross domestic investment,Net saving as a percentage of gross national income,FEDFUNDS,Korean War,Vietnam War,Persian Gulf War,War in Afghanistan,Iraq War,Russia Ukraine War
0,1947-03-31,21.633333,NaN,12.595,18.866667,243.164,156.2,47.1,19.6,40.8,7.9,NaN,False,False,False,False,False,False
1,1947-06-30,21.933333,NaN,8.476,18.333333,245.968,160.0,46.7,19.1,39.6,7.4,NaN,False,False,False,False,False,False
2,1947-09-30,22.566667,NaN,12.635,12.066667,249.585,163.5,49.1,19.7,41.0,7.9,NaN,False,False,False,False,False,False
3,1947-12-31,23.166667,NaN,10.372,9.300000,259.745,167.7,54,21,49.8,9.3,NaN,False,False,False,False,False,False
4,1948-03-31,23.533333,3.733333,12.763,8.766667,265.742,170.4,59,22.1,54.7,10.6,NaN,False,False,False,False,False,False

In [7]:
economic_data.tail()

,Quarter,Consumer Price Index,UNRATE,Personal Savings,Inflation Rate,Gross Domestic Product,Personal Consumption Expenditures,Gross Savings,Gross saving as a percentage of gross national income,Gross domestic investment,Net saving as a percentage of gross national income,FEDFUNDS,Korean War,Vietnam War,Persian Gulf War,War in Afghanistan,Iraq War,Russia Ukraine War
303,2022-12-31,297.506667,3.600000,622.428,7.100000,26408.405,17917.0,4621.4,17.5,5714.1,0.7,3.653333,False,False,False,False,False,True
304,2023-03-31,300.615333,3.500000,948.202,5.800000,26813.601,18269.6,4466.9,16.8,5667.6,-0.2,4.516667,False,False,False,False,False,True
305,2023-06-30,304.199667,3.566667,1040.110,3.966667,27063.012,18419.0,4497.8,16.8,5754.6,-0.2,4.990000,False,False,False,False,False,True
306,2023-09-30,306.835333,3.700000,776.887,3.533333,NaN,18734.3,---,---,5894.9,---,5.260000,False,False,False,False,False,True
307,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,True

In [8]:
economic_data.set_index('Quarter', inplace=True)

In [9]:
economic_data.tail(100)

,Consumer Price Index,UNRATE,Personal Savings,Inflation Rate,Gross Domestic Product,Personal Consumption Expenditures,Gross Savings,Gross saving as a percentage of gross national income,Gross domestic investment,Net saving as a percentage of gross national income,FEDFUNDS,Korean War,Vietnam War,Persian Gulf War,War in Afghanistan,Iraq War,Russia Ukraine War
Quarter,,,,,,,,,,,,,,,,,
1999-03-31,164.600000,4.300000,400.568,1.666667,9411.682,6102.0,2050.3,21.6,2210.1,7.3,4.733333,False,False,False,False,False,False
1999-06-30,166.200000,4.266667,304.702,2.133333,9526.210,6230.6,1990.3,20.7,2210.9,6.3,4.746667,False,False,False,False,False,False
1999-09-30,167.233333,4.233333,282.767,2.333333,9686.626,6335.3,1979.6,20.4,2263.8,5.9,5.093333,False,False,False,False,False,False
1999-12-31,168.266667,4.066667,275.235,2.633333,9900.169,6467.0,2012.7,20.3,2337.4,5.7,5.306667,False,False,False,False,False,False
2000-03-31,169.933333,4.033333,296.727,3.233333,10002.179,6618.2,2123.2,20.8,2339.8,6.3,5.676667,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-31,297.506667,3.600000,622.428,7.100000,26408.405,17917.0,4621.4,17.5,5714.1,0.7,3.653333,False,False,False,False,False,True
2023-03-31,300.615333,3.500000,948.202,5.800000,26813.601,18269.6,4466.9,16.8,5667.6,-0.2,4.516667,False,False,False,False,False,True
2023-06-30,304.199667,3.566667,1040.110,3.966667,27063.012,18419.0,4497.8,16.8,5754.6,-0.2,4.990000,False,False,False,False,False,True
2023-09-30,306.835333,3.700000,776.887,3.533333,NaN,18734.3,---,---,5894.9,---,5.260000,False,False,False,False,False,True
2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,True

In [10]:
economic_data.to_csv('final_dataframe.csv')

## Based on historical Consumer Price Index and unemployment rate data, predict future inflation trends

In [11]:
from sklearn.metrics import mean_squared_error
import numpy as np

# Isolating the 'Inflation Rate' column
inflation_data = economic_data['Inflation Rate'].dropna().values

# Creating the naive forecast
# The forecast for each point is simply the previous observed value
naive_forecast = inflation_data[:-1]

# Actual values to compare against (excluding the first value as there's no prediction for it)
actual_values = inflation_data[1:]

# Calculate the Mean Squared Error (MSE)
mse = mean_squared_error(actual_values, naive_forecast)

# Calculate the Root Mean Squared Error (RMSE)
rmse = np.sqrt(mse)

rmse

/Users/sairindhri/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

0.9761163841224133

In [12]:
# import numpy as np
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense
# from sklearn.preprocessing import MinMaxScaler
# from sklearn.model_selection import train_test_split

# # Assuming 'data' is your DataFrame and 'time_step' is the window length
# def create_dataset(dataset, time_step):
#     X, Y = [], []
#     for i in range(len(dataset)-time_step-1):
#         a = dataset[i:(i+time_step), 0]   # Input data
#         X.append(a)
#         Y.append(dataset[i + time_step, 0]) # Target data
#     return np.array(X), np.array(Y)

# # Normalizing the data
# scaler = MinMaxScaler(feature_range=(0, 1))
# scaled_data = scaler.fit_transform(economic_data[['Consumer Price Index', 'UNRATE']].values)

# # Using a fixed window length
# time_step = 10
# X, y = create_dataset(scaled_data, time_step)

# # Split the data into train and test sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Create the feedforward neural network model
# model = Sequential()
# model.add(Dense(50, activation='relu', input_dim=time_step))
# model.add(Dense(25, activation='relu'))
# model.add(Dense(1))

# # Compile the model
# model.compile(optimizer='adam', loss='mean_squared_error')

# # Train the model
# model.fit(X_train, y_train, batch_size=10, epochs=50) # Adjust epochs and batch size as needed

# # Evaluate the model
# loss = model.evaluate(X_test, y_test)
# print(f"Model Loss: {loss}")

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam


# Load your data
# df = pd.read_csv('your_data.csv')  # Replace with your actual data file

# For the sake of example, I'll use a simulated small dataset
data = {
    "Consumer Price Index": [164.6, 166.2, 168.0, 170.5, 172.3, 174.1],
    "UNRATE": [4.3, 4.26, 4.2, 4.1, 4.05, 4.0],
    "Inflation Rate": [1.66, 2.13, 2.50, 2.85, 3.10, 3.30]
}
df = pd.DataFrame(data)

# Preprocessing
X = df[["Consumer Price Index", "UNRATE"]]
y = df["Inflation Rate"]

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Model Creation
model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(X_train.shape[1],)))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='linear'))

# Compile the model
model.compile(optimizer=Adam(learning_rate=0.001), loss='mean_squared_error')

# Model Training
model.fit(X_train, y_train, epochs=100, batch_size=10, verbose=1)

# Model Evaluation
loss = model.evaluate(X_test, y_test, verbose=1)
print(f'Test Loss: {loss}')

/Users/sairindhri/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

### How model accuracy varies with different window length

In [2]:
a = 3
a

3

In [ ]:
conda update scipy

Collecting package metadata (current_repodata.json): done
Solving environment: |
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/noarch::tifffile==2021.7.2=pyhd3eb1b0_2
  - defaults/osx-64::daal4py==2021.3.0=py39h01d92e1_0
  - defaults/osx-64::scipy==1.7.1=py39h88652d9_2
  - defaults/osx-64::scikit-learn==0.24.2=py39hb2f4e1b_0
  - defaults/noarch::imageio==2.9.0=pyhd3eb1b0_0
  - defaults/osx-64::numba==0.54.1=py39hae1ba45_0
  - defaults/osx-64::bottleneck==1.3.2=py39he3068b8_1
  - defaults/noarch::keras-preprocessing==1.1.2=pyhd3eb1b0_0
  - defaults/osx-64::mkl_random==1.2.2=py39hb2f4e1b_0
  - defaults/osx-64::patsy==0.5.2=py39hecd8cb5_0
  - defaults/osx-64::imagecodecs==2021.8.26=py39ha952a84_0
  - defaults/osx-64::bkcharts==0.2=py39hecd8cb5_0
  - defaults/osx-64::matplotlib-base==3.4.3=py39h0a11d32_0
  - defaults/osx-64::numpy==1.20.3=py39h4b4dc7a_0
  - defaults/osx-64::astropy==4.3.1=py39hf9932de_0
  - defaults/osx-64::pywavelets==1.1.1=py39he3068b8_4
  - defaults/osx-64::scikit-learn-intelex==2021.3.0=py39hecd8cb5_0
  - defaults/osx-64::h5py==3.2.1=py39h90fc2a2_0
  - defaults/osx-64::anaconda==2021.11=py39_0
  - defaults/osx-64::keras==2.12.0=py39_0
  - defaults/osx-64::pytables==3.6.1=py39h648f197_1
  - defaults/osx-64::scikit-image==0.18.3=py39hae1ba45_0
  - defaults/osx-64::pyerfa==2.0.0=py39h9ed2024_0
  - defaults/osx-64::statsmodels==0.12.2=py39h9ed2024_0
  - defaults/osx-64::numexpr==2.7.3=py39h5873af2_1
  - defaults/osx-64::mkl_fft==1.3.1=py39h4ab4a9b_0
  - defaults/noarch::seaborn==0.11.2=pyhd3eb1b0_0
  - defaults/osx-64::bokeh==2.4.1=py39hecd8cb5_0
  - defaults/noarch::dask==2021.10.0=pyhd3eb1b0_0
  - defaults/osx-64::pandas==1.3.4=py39h743cdd8_0
  - defaults/noarch::altair==4.1.0=py_1
  - defaults/osx-64::matplotlib==3.4.3=py39hecd8cb5_0
failed with repodata from current_repodata.json, will retry with next repodata source.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: |
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/noarch::tifffile==2021.7.2=pyhd3eb1b0_2
  - defaults/osx-64::daal4py==2021.3.0=py39h01d92e1_0
  - defaults/osx-64::scipy==1.7.1=py39h88652d9_2
  - defaults/osx-64::scikit-learn==0.24.2=py39hb2f4e1b_0
  - defaults/noarch::imageio==2.9.0=pyhd3eb1b0_0
  - defaults/osx-64::numba==0.54.1=py39hae1ba45_0
  - defaults/osx-64::bottleneck==1.3.2=py39he3068b8_1
  - defaults/noarch::keras-preprocessing==1.1.2=pyhd3eb1b0_0
  - defaults/osx-64::mkl_random==1.2.2=py39hb2f4e1b_0
  - defaults/osx-64::patsy==0.5.2=py39hecd8cb5_0
  - defaults/osx-64::imagecodecs==2021.8.26=py39ha952a84_0
  - defaults/osx-64::bkcharts==0.2=py39hecd8cb5_0
  - defaults/osx-64::matplotlib-base==3.4.3=py39h0a11d32_0
  - defaults/osx-64::numpy==1.20.3=py39h4b4dc7a_0
  - defaults/osx-64::astropy==4.3.1=py39hf9932de_0
  - defaults/osx-64::pywavelets==1.1.1=py39he3068b8_4
  - defaults/osx-64::scikit-learn-intelex==2021.3.0=py39hecd8cb5_0
  - defaults/osx-64::h5py==3.2.1=py39h90fc2a2_0
  - defaults/osx-64::anaconda==2021.11=py39_0
  - defaults/osx-64::keras==2.12.0=py39_0
  - defaults/osx-64::pytables==3.6.1=py39h648f197_1
  - defaults/osx-64::scikit-image==0.18.3=py39hae1ba45_0
  - defaults/osx-64::pyerfa==2.0.0=py39h9ed2024_0
  - defaults/osx-64::statsmodels==0.12.2=py39h9ed2024_0
  - defaults/osx-64::numexpr==2.7.3=py39h5873af2_1
  - defaults/osx-64::mkl_fft==1.3.1=py39h4ab4a9b_0
  - defaults/noarch::seaborn==0.11.2=pyhd3eb1b0_0
  - defaults/osx-64::bokeh==2.4.1=py39hecd8cb5_0
  - defaults/noarch::dask==2021.10.0=pyhd3eb1b0_0
  - defaults/osx-64::pandas==1.3.4=py39h743cdd8_0
  - defaults/noarch::altair==4.1.0=py_1
  - defaults/osx-64::matplotlib==3.4.3=py39hecd8cb5_0
-